<ion-view view-title="<i class='logo-large'>채널</i>">

  <!--<ion-nav-buttons side="left">-->
      <!--<button class="button button-light cornered" ng-click="openShareModal('total')">-->
        <!--<i class="ion-ios-upload-outline icon-custom"></i>-->
      <!--</button>-->
  <!--</ion-nav-buttons>-->
  <!--<ion-nav-buttons side="right">-->
      <!--<button class="button button-light cornered" ng-click="clearHistTimer()">-->
        <!--<i class="ion-ios-trash-outline icon-custom"></i>-->
      <!--</button>-->
  <!--</ion-nav-buttons>-->

  <ion-content class="padding biker-channels" has-bouncing="true">
    <md-content md-theme="docs-dark" layout-padding layout="row">
      <md-input-container md-no-float flex="75">
        <input ng-model="formData.newRoom" placeholder="새로운 채널 이름">
      </md-input-container>
      <md-button ng-click="createRoom()" flex="20">만들기</md-button>
    </md-content>
    <br>

    <ion-list>

      <ion-item ng-repeat="(room, detail) in rooms"
                ng-click="selectRoom(room)"
                class="item-divider" type="item-text-wrap"
                style="border: none !important; text-align: left !important; padding: 16px !important">
        {{room}}
        <i ng-if="room === listener.room"
           class="radio-icon ion-checkmark"
           style="position:absolute; right: 24px;"></i>
      </ion-item>

    </ion-list>

  </ion-content>
</ion-view>

<!-- SHARE -->
<!-- SHARE -->
<script id="share-modal.html" type="text/ng-template" >

    <ion-modal-view class="modal-positive center"><div style="display: block !important">

        <!-- <textarea name="Text1" ng-model="data.defaultShareText" cols="1" rows="10" class="textarea-share"></textarea> -->
        <p class="textarea-share">Share your time travel</p>

        <div class="section-divider"></div>
            <a class="padding" ng-click="openLink('http://bit.ly/timetravelerapp')">
                Find aggregate time traveled by community here: bit.ly/timetravelerapp
            </a>
        <div class="section-divider"></div>

       <div class="row padding">
           <div class="col">
                <button ng-click="shareTimer('facebook')" class="button-clear" style="width: 100% !important; height: 100% !important; color: #fff">
                    <i class="ion-social-facebook icon-custom"></i>
                </button>
            </div>
            <div class="col">
                <button  ng-click="shareTimer('twitter')" class="button-clear" style="width: 100% !important; height: 100% !important; color: #fff">
                    <i class="ion-social-twitter icon-custom"></i>
                </button>
            </div>
            <div class="col">
                <button  ng-click="shareTimer('whatsapp')" class="button-clear" style="width: 100% !important; height: 100% !important; color: #fff">
                    <i class="ion-social-whatsapp icon-custom"></i>
                </button>
            </div>
            <div class="col">
                <button  ng-click="shareTimer('email')" class="button-clear" style="width: 100% !important; height: 100% !important; color: #fff">
                    <i class="ion-email icon-custom"></i>
                </button>
            </div>
            <div class="col">
                <button  ng-click="shareTimer('other')" class="button-clear" style="width: 100% !important; height: 100% !important; color: #fff">
                    <i class="ion-more icon-custom"></i>
                </button>
            </div>
       </div>

       <div class="section-divider"></div>
       <div class="section-divider"></div>

       <button class="button button-assertive button-outline cornered" ng-click="closeShareModal()">Close</button>

    </div>
   </ion-modal-view>
</script>
